html,
body {
    background-color: rgba(0, 0, 0, 0.894);
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(245, 255, 131);
    background-image: url("../images/lights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 5%;
    margin: 0;
    background-blend-mode: multiply;
    object-fit: contain;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Solitreo', cursive;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    color: white;
}

p {
    color: white;
}

li {
    color: white;
}

img {
    margin: 10px;
    align-content: center;
    border-radius: 8px;
}

button {
    color: black;
    background-color: rgb(245, 255, 131);
    font-family: 'Solitreo', cursive;
    border-radius: 10px;
}

button:hover {
    color: blue;
}

.search-container {
    margin-left: 10px;
}

input {
    border-radius: 10px;
}